
  

<ion-content>
  <ion-label>Display campaigns here</ion-label>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>please fund my project</ion-card-subtitle>
      <ion-card-title>Mars_App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        My app has the potential to take you to the moon!
        It was created by Elon Musk and myself.
        Try out the demo.
      </ion-text>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        fundMe
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
