
  

<ion-content>
  <ion-card *ngFor="let info of data" style="border: rgba(95, 158, 160, 0.192) 2px solid;">
    <ion-card-header>
      <ion-card-subtitle>{{info.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{info.title}}</ion-card-title>
      <img src="{{info.image}}" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        {{info.details}}
      </ion-text>
      <ion-label>Current amount raised: {{info.amountRaised}}</ion-label>
      <ion-item>
        <ion-button (click)="onClick()" slot="end" fill="solid" color="tertiary" shape="round">
          Select
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
