

<ion-content>
  <ion-label>founders network tabs here</ion-label>

  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="founders-network-tabs-view-community">
        <ion-icon name=""></ion-icon>
        <ion-label>view posts</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="founders-network-tabs-post-community">
        <ion-icon name=""></ion-icon>
        <ion-label>post to community</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>

</ion-content>
