
<ion-content>
  <ion-card *ngFor="let i of workshopList">
    <ion-card-header>
      <ion-card-title>{{i.title}}</ion-card-title>
    </ion-card-header>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" style="padding-left: 1rem;">Hosted by: {{i.host}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9" style="padding-left: 1rem;">{{i.date}}</ion-col>
        <ion-col size="3"><ion-button (click)="join()" fill="solid" style="height: 80%;">Join</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
