<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="clicked()" *ngFor="let menuItem of menu">
          <ion-icon name="{{menuItem.icon}}" slot="start"></ion-icon>
          <ion-label>{{menuItem.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="homeClicked()">
            <ion-icon color="secondary" name="home-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title><img src="../assets/leverage_logo.png" alt="">    LEVERAGE</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>

<style>
  ion-content.background{
    --background: url(../../assets/img/leverage_logo.png) 0 0/100% 100% no-repeat;
  }

  img{
    max-width: 15%;
    max-height: 15%;
  }

</style>
