
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <ion-card>
        <br>
        <ion-card-subtitle size="large">The Start-Up for Start-Ups</ion-card-subtitle>
        <br>
        <ion-card-title>{{slide.header}}</ion-card-title>
        <br>
        <img src="{{slide.image}}" alt="">
        <ion-card-content>
          <p>{{slide.content}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- <ion-button (click)="signUp()" color="secondary" expand="block">
    <ion-icon name="person-add-outline"></ion-icon>
    Sign Up
  </ion-button>
  <br>
  <ion-button (click)="login()" expand="block">
    <ion-icon slot="start" name="log-in-outline"></ion-icon>
    Login
  </ion-button> -->
  
</ion-content>

<style>
  ion-slides{
    height: 100%;
  }
</style>

